{% extends "base.html" %} {% block title %}Companies{% endblock %} {% block content%}
<div>
    <form method="POST">
        <h3 align="center">Initiatieven</h3>
        <div class="form-group">
          <input
            type="name"
            class="form-control"
            id="name"
            name="name"
            placeholder="Search"
          />
        </div>
      </form>
    <ul class="list-group list-group-flush" id="companies">
        {% for company in companies %}
            <a class="list-group-item" href={{company[2]}}><b>{{company[0]}}</b> {{company[1]}} {{company[3]}}</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}