{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<style>
    p{max-width: 50%; align-content: center;}
</style>
<h1 align="center" >Welkom bij de startpagina van *PLACEHOLDER* </h1>
<p> De Circulaire Bouweconomie betekent bouwen, gebruiken en hergebruiken van gebouwen, gebieden en infrastructuur, zonder:

    natuurlijke hulpbronnen onnodig uit te putten,
    de leefomgeving te vervuilen en
    ecosystemen aan te tasten,
    op een wijze die economisch verantwoord is en bijdraagt aan welzijn van mens en dier. Hier en daar, nu en later.</p>

{% endblock %}