{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}
<style>
    form {width: 20%; align-self: center;}
</style>
<div align="center">
    <form align="center" method="POST">
        <h3>Login</h3>
        <div class="form-group">
          <input
            type="name"
            class="form-control"
            id="name"
            name="name"
            placeholder="Gebruikersnaam/Email"
          />
        </div>
        <div class="form-group">
            <input
              type="name"
              class="form-control"
              id="name"
              name="name"
              placeholder="Password"
            />
          </div>
      </form>
  {% endblock %}